.header .navbar-color {
  background-color: #2345BC;
}
.header .navbar .navbar-toggler {
  border-color: #2345BC;
}
.header .logo {
  width: 50%;
  height: 55%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media only screen and (max-width: 991px) {
  .header .logo {
    width: 32%;
  }
}
@media only screen and (max-width: 577px) {
  .header .logo {
    display: none;
  }
}
.header .logo-2 {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 15%;
}
@media only screen and (min-width: 576px) {
  .header .logo-2 {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .header .navbar-nav {
    background-color: #264cd3;
  }
}
.header .navbar-nav .nav-link {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}
.header .navbar-nav .nav-link:hover {
  color: yellow;
}
@media only screen and (min-width: 992px) {
  .header .navbar-nav .nav-link:hover {
    transform: scale(1.1);
    transition: 5ms;
  }
}

@media only screen and (max-width: 576px) {
  .seccion-inicio {
    display: none;
  }
}
.seccion-inicio .img-carrousel-tapon {
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.45));
  position: relative;
  right: 30%;
  top: 50%;
  width: 350px;
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .seccion-inicio .img-carrousel-tapon {
    width: 250px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .seccion-inicio .img-carrousel-tapon {
    width: 200px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .seccion-inicio .img-carrousel-tapon {
    width: 100px;
  }
}
.seccion-inicio .img-carrousel-tapon-2 {
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.75));
  position: relative;
  right: 30%;
  top: 50%;
  width: 600px;
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .seccion-inicio .img-carrousel-tapon-2 {
    width: 400px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .seccion-inicio .img-carrousel-tapon-2 {
    width: 300px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .seccion-inicio .img-carrousel-tapon-2 {
    width: 200px;
  }
}
.seccion-inicio h4 {
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .seccion-inicio h4 {
    font-size: 35px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .seccion-inicio h4 {
    font-size: 25px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .seccion-inicio h4 {
    font-size: 16px;
  }
}
.seccion-inicio p {
  font-size: 20px;
  font-weight: bolder;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .seccion-inicio p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .seccion-inicio p {
    font-size: 13px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .seccion-inicio p {
    font-size: 12px;
  }
}

.seccion-nosotros {
  color: #ffffff;
  background-image: url("../images/fondo-nosotros.png");
  background-position: 100%;
  padding-top: 120px;
  padding-bottom: 100px;
}
.seccion-nosotros .container {
  position: relative;
  top: 30px;
}
.seccion-nosotros .container h1 {
  margin-top: 20px;
  font-size: 5rem;
}
.seccion-nosotros .container p {
  margin-top: 60px;
  font-size: 20px;
}

@media only screen and (min-width: 993px) and (max-width: 1220px) {
  .seccion-nosotros {
    color: #ffffff;
    background-image: url("../images/fondo-nosotros.png");
    background-position: 80%;
    padding-top: 120px;
    padding-bottom: 100px;
  }
  .seccion-nosotros .container {
    position: relative;
    top: 30px;
  }
  .seccion-nosotros .container h1 {
    margin-top: 20px;
    font-size: 4rem;
  }
  .seccion-nosotros .container p {
    margin-top: 60px;
    font-size: 15px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .seccion-nosotros {
    color: #ffffff;
    background-image: url("../images/fondo-nosotros.png");
    background-position: 75%;
    padding-top: 120px;
    padding-bottom: 100px;
  }
  .seccion-nosotros .container {
    position: relative;
    top: 30px;
  }
  .seccion-nosotros .container h1 {
    margin-top: 20px;
    font-size: 4rem;
  }
  .seccion-nosotros .container p {
    margin-top: 60px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .seccion-nosotros {
    color: #ffffff;
    background-image: url("../images/fondo-nosotros.png");
    background-position: 75%;
    padding-top: 120px;
    padding-bottom: 100px;
  }
  .seccion-nosotros .container {
    position: relative;
    top: 52px;
  }
  .seccion-nosotros .container h1 {
    margin-top: 20px;
    font-size: 3rem;
  }
  .seccion-nosotros .container p {
    margin-top: 50px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 576px) {
  .seccion-nosotros {
    color: #ffffff;
    background-image: url("../images/fondo-nosotros.png");
    background-position: 75%;
    padding-top: 120px;
    padding-bottom: 100px;
  }
  .seccion-nosotros .container {
    position: relative;
    top: 70px;
  }
  .seccion-nosotros .container h1 {
    margin-top: 20px;
    font-size: 2rem;
  }
  .seccion-nosotros .container p {
    margin-top: 30px;
    font-size: 12px;
  }
}
.seccion-productos {
  padding-top: 100px;
  background-color: #f1f1f1;
}
.seccion-productos .btn-color {
  background-color: #2345BC;
  color: white;
}
.seccion-productos .card {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 7px;
}
.seccion-productos .card .fondo-titulo {
  background-color: #2345BC;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.seccion-productos .card .titulo-producto {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  font-size: 15px;
  padding-bottom: 4px;
  padding-top: 4px;
}
.seccion-productos .card .sub-titulo {
  color: #2345BC;
  font-weight: bolder;
}
.seccion-productos .card .resultado-sub-titulo {
  color: #264cd3;
  font-weight: lighter;
  border-bottom: solid 1px #bbb9b9;
  padding-bottom: 4px;
}
.seccion-productos .titulo-seccion-producto {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  margin-bottom: 25px;
  color: #264cd3;
  font-style: italic;
}
@media only screen and (max-width: 992px) {
  .seccion-productos .titulo-seccion-producto {
    font-size: 2rem;
  }
}
.seccion-productos .carrito {
  z-index: 1000;
  position: fixed;
  flex-wrap: wrap;
  right: 0;
  top: 7%;
}
.seccion-productos .carrito #vaciar-carrito {
  padding: 1px;
}
.seccion-productos .carrito .btn-suma-resta {
  padding: 2px;
}
.seccion-productos .carrito .table {
  width: 85%;
}
.seccion-productos .carrito .bi-cart2 {
  font-size: 2rem;
}

footer {
  width: 100%;
  background-color: #2e2b2b;
}
footer .derechos {
  color: white;
}
footer .derechos h6 {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
footer .derechos p {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
footer .correo a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 575px) {
  footer .correo a {
    font-size: 0.8rem;
  }
}
footer .correo a .bi {
  color: white;
}
footer .iconos a {
  text-decoration: none;
}
footer .iconos a .bi-facebook {
  color: white;
  font-size: 1.2rem;
}
footer .iconos a .bi-facebook:hover {
  color: #3b5998;
}
footer .iconos a .bi-instagram {
  color: white;
  font-size: 1.2rem;
}
footer .iconos a .bi-instagram:hover {
  color: #E1306C;
}
footer .iconos a .bi-twitter {
  color: white;
  font-size: 1.2rem;
}
footer .iconos a .bi-twitter:hover {
  color: #00acee;
}

.seccion-encontranos {
  align-items: center;
  display: flex;
  justify-content: center;
}
.seccion-encontranos div h4 {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #2e2b2b;
  font-weight: lighter;
  font-style: oblique;
  margin-top: 10px;
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .seccion-encontranos div h4 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .seccion-encontranos div h4 {
    font-size: 2rem;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;
  height: 100px;
  overflow: hidden;
  position: relative;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}

#iconos-de-uso .card {
  border: none;
}
#iconos-de-uso img {
  width: 40%;
  background-color: lightgray;
  color: white;
  padding: 15px;
}

.seccion-inicio .img-carrousel-tapon, .seccion-inicio .img-carrousel-tapon-2 {
  animation-duration: 4s;
  animation-name: aparicion;
}
@keyframes aparicion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

body main .btn-whatsapp {
  width: 50px;
  height: 50px;
  bottom: 15%;
  right: 30px;
  background-color: #0df053;
  line-height: 50px;
  color: #fff;
  font-size: 30px;
  border-radius: 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
body main .btn-whatsapp .bi-whatsapp {
  position: relative;
  top: -5px;
}
body main .btn-whatsapp:hover {
  background-color: #fff;
  color: #0df053;
  transform: none;
  transition-duration: 5ms;
}

/*# sourceMappingURL=style.css.map */
