@import 'components/header.scss';
@import 'components/inicio.scss';
@import 'components/nosotros.scss';
@import 'components/productos.scss';
@import 'components/footer.scss';
@import 'components/encontranos.scss';

body {
    position: relative;
    top: 70px;
    @media only screen and (max-width:576px) { 
        position: relative;
        top: 98px;
        
        
    }
    main {
        .btn-whatsapp {
            width: 50px;
            height: 50px;
            bottom: 50%;
            right: 30px;
            background-color: #0df053;
            line-height: 50px;
            color: #fff;
            font-size: 30px;
            border-radius: 50px;
            box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
            z-index: 100;
            .bi-whatsapp {
                position: relative;
                top: -5px;
            }
            &:hover {
                background-color: #fff;
                color: #0df053;
                transform: none;
                transition-duration: 5ms;
            }
        }
    }
}