@import 'components/header.scss';
@import 'components/inicio.scss';
@import 'components/nosotros.scss';
@import 'components/productos1.scss';
@import 'components/footer.scss';
@import 'components/encontranos.scss';
@import 'components/iconos-de-uso.scss';
%apariciones {
    animation-duration: 4s;
        animation-name: aparicion;
        @keyframes aparicion {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 100;
            }
            
        }
}

body {
    
    main {
        .btn-whatsapp {
            width: 50px;
            height: 50px;
            bottom: 15%;
            right: 30px;
            background-color: #0df053;
            line-height: 50px;
            color: #fff;
            font-size: 30px;
            border-radius: 50px;
            box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
            z-index: 1000;
            .bi-whatsapp {
                position: relative;
                top: -5px;
            }
            &:hover {
                background-color: #fff;
                color: #0df053;
                transform: none;
                transition-duration: 5ms;
            }
        }
    }
}