@import '../base/color.scss';

#iconos-de-uso {
    .card {
        border: none;
        
    }
    img {
        width: 40%;
        background-color: rgb(211, 211, 211);
        color: white;
        padding: 15px;
    }
}