@import '../base/color.scss';


.seccion-nosotros {
    color: #ffffff;
    text-indent: 10px;
    line-height: 30px;
    background-color: rgb(196, 195, 195);
    -webkit-box-shadow: inset 0px 0px 10px 0px #444444;
     -moz-box-shadow: inset 0px 0px 10px 0px #444444;
          box-shadow: inset 0px 0px 10px 0px #444444;

}